head{
    background-color: #ffffff;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.encabezado{ /* Sticky menu*/
    margin: 0 auto;
    padding: 10px 20px;
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    background: #ffffff; 
    z-index: 1000;
    flex-direction: row;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: right; 
}

.logo-title {
    width: 50px;
    height: auto;
}

.imagen{
    width: 80px;
    height: 35px;
}
nav {
    background-color:rgb(255, 255, 255);
    padding: 25px;
    text-align:initial;
}

nav a{ 
    color: black; 
    text-decoration: none;
    font-weight: bold;

}

.container {
    display: grid; 
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px; 
    max-width: 960px;
    column-gap: 8px;
    margin: 0 auto;
}

.articles {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px ;
}

article { 
    background-color: rgb(189, 231, 255);
    padding: 120px; 
    text-align: center;
    border: 2px solid black;

}

aside { 
    background-color: rgb(148, 169, 188);
    padding: 40px;
    border: 2px solid black;
}

footer{
    background-color:rgb(242, 239, 204);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    flex-direction: row;
    padding: 10px;
    text-align:center;
    margin-top: 30px;
    
}