body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* -------- HEADER ----------*/

.encabezado{ /* Sticky menu/ HEADER */ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: sticky;
    top:0;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

nav {
    display: none;
    background-color:rgb(255, 255, 255);
    padding: 25px;
    text-align:initial;
}

nav a{ 
    color: black; 
    text-decoration: none;
    font-weight: bold;

}

/* -------- MAIN ------- */
.visually-hidden {
    position: absolute;
    left: -9999px;
}

.imagen{
    width: 80px;
    height: 35px;
}

main {
    padding: 15px;
}


.container {
   display: block;
   /* display: grid; 
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px; 
    max-width: 960px;
    column-gap: 8px;
    margin: 0 auto;*/
}


.articles {
    display: block;
    gap: 5px ;
}

article { 
    background-color: rgb(189, 231, 255);
    padding: 15px; 
    text-align: center;
    border: 2px solid black;

}

aside {
    display: none;
    background-color: rgb(148, 169, 188);
    padding: 40px;
    border: 2px solid black;
}

/* -------- FOOTER ---------*/
footer{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 10px;
    text-align:center;
    margin-top: 30px;
    
}

/* -------- DESKTOP LAYOUT ------------
-----HEADER ----------------------*/

@media (min-width: 768px) {

    .encabezado { 
        position: fixed; 
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .menu-icon { 
        display: none; 
    }

    nav{
        display: block;
        position: fixed;
        top: 70px;
        width: 100%;
        background: white;
    }
}